<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Flight</title>
</head>
<body>
<div th:each="flight : ${flights}">
    <h3 th:text="'Flight Number : ' + ${flight.flightNumber}"></h3>
    <h3 th:text="'Origin : ' + ${flight.origin}"></h3>
    <h3 th:text="'Destination : ' + ${flight.destination}"></h3>
    <h3 th:text="'Time : ' + ${flight.time}"></h3>

    <h3 th:text="'Pilot : ' + ${flight.pilot.name}"></h3>
    <h3 th:text="'License Number : ' + ${flight.pilot.licenseNumber}"></h3><br>
</div>


</body>
</html>